.tld13Container {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 2rem;
  background: var(--colorFooter);

  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.tld13Feature {
  display: flex;
}

.tld13Feature .f14FeatureContainer {
  margin: 0;
}

.tld13Feature .f14FeatureText {
  max-width: 700px;
}

.tld13Heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 4rem 0 2rem;
}

.tld13Heading h1 {
  font-size: 34px;
  line-height: 45px;
  font-weight: 800;
  max-width: 510px;
}

.tld13Heading p {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--colorSubtext);
  cursor: pointer;
}

.tld13FeatureContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 2rem;
}

.tld13FeatureContainer .f14FeatureContainer {
  flex: 1;
  margin: 1rem;
  min-width: 210px;
  display: unset;
  flex-direction: column;
}

.tld13FeatureContainer .f14FeatureText {
  margin-top: 0.5rem;
}

@media screen and (max-width: 850px) {
  .tld13Heading {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0rem;
  }

  .tld13Heading p {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .tld13Feature .f14FeatureContainer {
    flex-direction: column;
  }

  .tld13Feature .f14FeatureText {
    margin-top: 0.5rem;
  }

  .tld13Heading h1 {
    font-size: 28px;
    line-height: 40px;
  }
}

@media screen and (max-width: 350px) {
  .tld13FeatureContainer .f14FeatureContainer {
    margin: 1rem 0;
    min-width: 100%;
  }
}
