.fp11UploaderWrapper {
  min-height: 100vh;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fp11Label {
  margin: 60px;
  font-size: 40px;
  color: var(--colorText);
}

.fp11FileUploader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 3px dashed rgb(87, 74, 204);
  border-radius: 5px;
  padding: 70px;
  width: 20%;
}

.fp11FileUploader input {
  color: var(--colorWhite);
  margin-left: 50px;
}

.fp11formGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
  color: var(--formGroupColor);
}

.fp11Icon {
  font-size: 70px;
  margin: 10px;
}

.fp11formGroup span {
  margin: 10px 0 15px 0;
}

.fp11formGroup button {
  font-size: 25px;
  padding: 10px 20px;
  outline: none;
  cursor: pointer;
  color: var(--formGroupButtonColor);
  border-radius: 3px;
}

.fp11Toast {
  font-size: 20px;
  font-family: inherit;
}

.fp11upbutton {
  text-align: center;
  margin: 20px;
}

.fp11upbutton button {
  flex: 0.2;
  width: 10%;
  min-height: 50px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  background: var(--colorRed);
  border: 2px solid var(--colorRed);
  padding: 0 1rem;
  color: var(--colorWhite);
  cursor: pointer;
  outline: none;
  margin-top: 2rem;
  border-radius: 5px;
}

.fp11formControl::-webkit-file-upload-button {
  flex: 0.2;
  width: 40%;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  background: var(--colorRed);
  border: 2px solid var(--colorRed);
  color: var(--colorWhite);
  cursor: pointer;
  outline: none;
  margin: 2rem 1rem 0 0.5rem;
  border-radius: 5px;
}

.fp11loadmessage {
  text-align: center;
  margin-top: 40px;
  font-size: 25px;
  letter-spacing: 0.04rem;
  color: var(--colorText);
}
