#hp01Homepage {
  background: rgba(79, 82, 82, 0.1) url("../../utils/images/homePage.png")
    no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
  background-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hp01TopBar {
  flex-grow: 1;
  width: 100%;
  text-align: right;
  font-size: 25px;
  padding: 30px 100px 20px 0;
}

.hp01Summariser {
  flex-grow: 2;
  font-size: 60px;
  text-align: center;
  color: #004dff;
  text-shadow: 2px 2px #00ff93;
}

button {
  color: rgb(56, 70, 131);
  border: none;
  background-color: rgba(79, 82, 82, 0.1);
  padding: 15px;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 0;
  display: inline-block;
  transition: all 0.5s;
  width: 35%;
  margin: 15px;
  border-radius: 20px;
}

button:hover {
  color: #000;
  background-color: #fff;
  transition: all 0.5s;
}
