.fp11UploaderWrapper {
  min-height: 100vh;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fp11Label {
  margin: 60px;
  font-size: 40px;
}

.fp11FileUploader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 3px dashed rgb(87, 74, 204);
  border-radius: 5px;
  padding: 70px;
  width: 20%;
}

.fp11formGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
  color: blue;
}

.fp11Icon {
  font-size: 70px;
  margin: 10px;
}

.fp11formGroup span {
  margin: 10px 0 15px 0;
}

.fp11formGroup button {
  font-size: 25px;
  padding: 10px 20px;
  outline: none;
  cursor: pointer;
  color: #5256ad;
  border-radius: 3px;
}

.fp11Toast {
  font-size: 20px;
  font-family: inherit;
}

.fp11upbutton {
  text-align: center;
  margin: 20px;
}

.fp11upbutton button {
  font-size: 30px;
}

.fp11loadmessage {
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
}